<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.liangyihui.manager.kypt.bos.mapper.KyptRcEcMeetingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.liangyihui.manager.kypt.bos.entity.KyptRcEcMeeting">
        <id column="id" property="id" />
        <result column="center_id" property="centerId" />
        <result column="meeting_year_month" property="meetingYearMonth" />
        <result column="meeting_time" property="meetingTime" />
        <result column="comment" property="comment" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
