<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.liangyihui.manager.kypt.bos.mapper.KyptConsultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.liangyihui.manager.kypt.bos.entity.KyptConsult">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="mobile" property="mobile" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="company" property="company" />
        <result column="job" property="job" />
        <result column="hospital_id" property="hospitalId" />
        <result column="hospital_name" property="hospitalName" />
        <result column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="title" property="title" />
        <result column="requirement" property="requirement" />
        <result column="comment" property="comment" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
