<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.liangyihui.manager.kypt.bos.mapper.KyptCgMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.liangyihui.manager.kypt.bos.entity.KyptCgMember">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="type" property="type" />
        <result column="researcher_id" property="researcherId" />
        <result column="researcher_name" property="researcherName" />
        <result column="sort" property="sort" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
