<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.liangyihui.manager.kypt.bos.mapper.SmsTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.liangyihui.manager.kypt.bos.entity.SmsTemplate">
        <id column="id" property="id" />
        <result column="template_code" property="templateCode" />
        <result column="template_name" property="templateName" />
        <result column="template_content" property="templateContent" />
        <result column="template_status" property="templateStatus" />
        <result column="template_type" property="templateType" />
        <result column="template_keys" property="templateKeys" />
        <result column="sign_name" property="signName" />
    </resultMap>

</mapper>
